In [2]:
import os
import csv
import pandas as pd

file = "./Resources/election_data.csv"
original_df = pd.read_csv(file)
original_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [3]:
count = original_df["Candidate"].value_counts()
total_votes = count.sum()
total_votes

369711

In [4]:
count = original_df["Candidate"].value_counts()
canidate_votes = count
canidate_votes

Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [5]:
per = canidate_votes/total_votes
percent = per * 100.0
percent

Diana DeGette              73.812248
Charles Casper Stockham    23.048543
Raymon Anthony Doane        3.139209
Name: Candidate, dtype: float64

In [6]:
winner = canidate_votes.max()
winner

272892

In [13]:
print("Total votes: " + str(total_votes))
print(canidate_votes)
print(percent)
print("Winner: " + str(winner))

Total votes: 369711
Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64
Diana DeGette              73.812248
Charles Casper Stockham    23.048543
Raymon Anthony Doane        3.139209
Name: Candidate, dtype: float64
Winner: 272892